a {
    font-size: 0.8em;
    margin-right: 1em;
}

input, t {
    margin-right: 1em;
}

/* DIV 1*/
.top-links {   
   /* text-align: right;
    padding-left: 10px;*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

/* DIV 2*/
.title {
    text-align: center;
    padding-top: 5%;
    font-size: 5em;
}

/* DIV 3*/
.search-form {
    padding-top: 2%;
    text-align: center;
}

.search-box {
    width: 30%;
    height: 30px;
    border-radius: 25px;
    
}

.search-form form div {
    padding-top: 2%;
}

/* DIV 4*/
.links {
    text-align: center;
    padding-top: 2%;
    font-size: 0.8em;
}

/* DIV 5*/
.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;    
}

#bottom-links {
    display: flex;
    flex-direction: row;   
    justify-content: center; 
}

#left {
    width:100%
}

#right {    
    width:100%;
    text-align: right;
}