a {
    font-size: 0.8em;
    margin-right: 1em;
    text-decoration: none;
    color: rgb(56, 56, 56);
}

a:hover {
    text-decoration: underline;
}

input {
    margin-right: 1em;
    cursor:pointer;
}

label {
    cursor:text;
    margin-right: 1em;
}

hr {
    color: lightgray;
    border-top: none;
    border-left: none;
    
}

#signin {
    background-color: cornflowerblue;
    color: white;
    border-radius: 5px;
    border: none;
    height: 3em;
    width:5em;
}

#signin:hover {
    background-color: rgb(117, 162, 245);
    color: white;
    border-radius: 5px;
    border: none;
    height: 3em;
    width:5em;
}

#google-apps {
    border-radius: 75px;
    height: 4em;
    width: 4em;
    background-color: none;
    border: none;
    background-color: white;
}

#google-apps:hover {
    background-color: rgb(255, 232, 232);
}

/* DIV 1*/
.top-links {   
   /* text-align: right;
    padding-left: 10px;*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

/* DIV 2*/
.title {
    padding-top: 5%;
    font-size: 5em;
}

.title div {
    display: flex;
    justify-content: center;
}


/* DIV 3*/
.search-form {
    padding-top: 2%;
    text-align: center;
}

.search-box {
    width: 30%;
    height: 30px;
    border-radius: 25px;
    cursor:text;
    border: 1px solid rgb(224, 224, 224);
    padding: 10px;
    text-indent: 40px;
    
}

i {
    position: relative;
    left: 40px;
}

.search-box:hover {
    border: 1px solid rgb(224, 224, 224);
    padding: 10px;
    box-shadow: 2px 2px #dfdcdc;
        
}

.search-box:focus {
    outline: black;
    box-shadow: 2px 2px #dfdcdc;    
}


.search-form form div {
    display: flex;
    justify-content: center;
    padding-top: 2%;
}

.search-form form div input {
    border-radius: 5%;;
    border: none;
    padding: 1em;
    background-color: white;
}

.search-form form div input:hover {
    outline: rgb(206, 205, 205) solid 1px;
}

/* DIV 4*/
.links {
    text-align: center;
    padding-top: 2%;
    font-size: 0.8em;
}

.links a {
    text-decoration: none;
    color: blue;
}

.links a:hover {
    text-decoration: underline;
    color: blue;
}

/* DIV 5*/
.bottom {
    position: absolute;
    bottom: 0;
    width: 99%;    
}

#bottom-links {
    display: flex;
    flex-direction: row;   
    justify-content: center; 
}

#left {
    width:100%
}

#right {    
    width:100%;
    text-align: right;
}